<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;"> 
	<li class="k-state-active"> 
		<span class="panel-bar-label-no-wrap">Configuration</span>
		<div class="config-option-single-row" style="margin:10px 20px; font-size: 14px;"> 
            <div class="config-option-ie11-overflow-fix">
                <!-- Code goes here -->

                <div class="config-label">Text Size:</div>
                <input type="range" min="6" max="50" ng-model="config.FontSize"
                       style="width:100px; height: 100%; float: right; margin-right: 25px;" />
                <div class="config-label">Border Radius:</div>
                <input type="range" min="0" max="20" ng-model="config.BorderRadius"
                      style="width:100px; height: 100%; float: right; margin-right: 25px;"/>
                <div class="config-label">Show Path:</div>
                <input type="checkbox" ng-model="config.ShowPath" />

                <div style="width:85%; margin: 10px 0 15px 20px">
                    <pv-color-picker colorkeyword="Font" ng-model="config.FontColor" />
                </div>

                <div style="width:85%; margin: 10px 0 15px 20px">
                    <pv-color-picker colorkeyword="Background" ng-model="config.BackgroundColor" />
                </div>

            </div>
		</div> 
	</li>
</ul>
